<div class="jumbotron">
    <h1>Canada Alert System</h1>
    <p class="lead">Web API for alerts distributed through the <a href="http://alerts.palmorex.com" target="_blank">National Alert Aggregation &amp; Dissemination System</a>.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Important Notice:<br />Getting Alerts</h2>
        <p>Currently it is only possible to get all alerts currently active in Canada. A planned feature is to get alerts for a geographic region.</p>
    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>This project will be available on Github soon.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <p>If you have any questions/problem, please contact me.</p>
        <p><a class="btn btn-default" href="https://zacharyseguin.ca/">Contact Me</a></p>
    </div>
</div>